*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  background: darkgrey;
}

h4 {
  font-size: 2rem;
  line-height: 1.2;
  color: hsl(210, 46%, 95%);
}

p {
  color: hsl(0, 0%, 81%);
  opacity: 70%;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.9rem;
  }
}

.card {
  border-radius: 20px;
  padding: 2rem 4rem;
  width: 350px;
  max-width: 350px;
}

.card_daniel {
  background: hsl(263, 55%, 52%);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.icon {
  position: absolute;
  z-index: -1;
}

.icon_top {
  top: 0;
  right: 0;
}

.card_jonathan {
  background: hsl(217, 19%, 35%);
}

.card_jeanette {
  background: hsl(0, 0%, 100%);
}

.card_kira {
  background: hsl(0, 0%, 100%);
}

.card_jeanette .name,
.card_jeanette p,
.card_jeanette h4,
.card_kira .name,
.card_kira p,
.card_kira h4 {
  color: #696969;
}

.card_patrick {
  background: hsl(219, 29%, 14%);
}

.header {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.8rem;
}

.header > span {
  margin-top: 1rem;
}

.header > img {
  border-radius: 100%;
}

.name {
  color: hsl(0, 0%, 81%);
  font-size: 1.8rem;
}

.middle_content {
  margin-bottom: 1.8rem;
}

.footer_content {
  margin-bottom: 1.8rem;
}

.grid {
  margin: 4rem 3rem;
  display: grid;
  gap: 3rem;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1440px) {
  .grid {
    gap: 2rem 1rem;
    grid-template-columns: repeat(4, 350px);
  }

  .item1 {
    grid-column: span 2;
  }

  .item3 {
    grid-row: span 2;
  }

  .item5 {
    grid-column: span 2;
  }

  .item1,
  .item5 {
    width: 700px;
    max-width: 700px;
  }
}
